
body {
  background: linear-gradient(225deg,  #d83131, #ffdaab, #ddffab, #abe4ff, #d9abff);
  background-size: 300% 300%;
  height: 100vh;
  margin: 0;
  -webkit-animation: Rainbow 25s ease infinite;
  -moz-animation: Rainbow 25s ease infinite;
  animation: Rainbow 25s ease infinite;
}

@-webkit-keyframes Rainbow {
  0% {
    background-position: 94% 0%; }
  50% {
    background-position: 7% 100%; }
  100% {
    background-position: 94% 0%; } }
.row{   
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    color:white;
    font-size:20px;
}
.headshot{
    width:20%;
}
.mid{
    background: linear-gradient(225deg, #d83131, #fcb964, #ddffab, #abe4ff, #d9abff);
  background-size: 300% 300%;
  height: 55vh;
  margin: 0;
  -webkit-animation: Rainbow 25s ease infinite;
  -moz-animation: Rainbow 25s ease infinite;
  animation: Rainbow 25s ease infinite;
    
}
.aboutme{
    border:1px solid black;  
    display:flex;
    justify-content:center;
}
.header , .contact{
 font-family:lobster;   
 font-size:30px;
}
p {
 color:black;   
    
}
